<div class="social animated fadeInRight">
	<h4>
    {% if site.github %}
	  <a href="http://github.com/{{ site.github }}"><i class="fab fa-github"></i></a>
    {% endif %}

    {% if site.email %}
	  <a href="mailto:{{ site.email}}"><i class="fas fa-envelope"></i></a>
    {% endif %}

    {% if site.linkedin %}
	  <a href="http://linkedin.com/in/{{ site.linkedin }}"><i class="fab fa-linkedin"></i></a>
    {% endif %}
    
    {% if site.github %}
	  <a href="http://codepen.io/{{ site.codepen }}"><i class="fab fa-codepen"></i></a>
    {% endif %}
    
    {% if site.github %}
    <a href="http://medium.com/@{{ site.medium }}"><i class="fab fa-medium"></i></a>
   {% endif %}

   {% if site.github %}
   <a href="http://twitter.com/@{{ site.twitter }}"><i class="fab fa-twitter"></i></a>
  {% endif %}
	  
    
	</h4>
</div>

